// JAC brand colours
$jac-purple: rgb(90, 27, 92);
$jac-grey: rgb(145, 145, 145);
$jac-red: rgb(175, 0, 55);
$jac-green: rgb(52, 100, 35);
$jac-blue: rgb(13, 94, 140);
$jac-yellow: rgb(240, 182, 0);

// Configure Bootstrap variables
$primary: $jac-purple;
$secondary: $jac-grey;
$link-decoration: underline;

// Import Bootstrap components that we need
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/print";
@import "../node_modules/bootstrap/scss/tables";

// Import project SCSS
@import "scss/fieldset";
@import "scss/details";

h1 {
  margin-bottom: $spacer * 2;
}
h2 {
  margin-bottom: $spacer;
}
.nav-link {
  text-decoration: none;
}
.container {
  max-width: 960px;
}
