details {
  > summary {
    color: $link-color;
    text-decoration: $link-decoration;
    background-color: transparent;
    padding: ($spacer * .25) 0;
    display: inline-block;

    &:hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }

  > section {
    border-left: ($spacer * .25) solid theme-color('secondary');
    padding: $spacer;
  }
}
