fieldset {
  @extend .card;
  @extend .card-body;
  display: block;
  margin-bottom: $spacer;

  legend {
    @extend .h5;
    @extend .card-title;
    float: left;
  }

  .fieldset-text {
    margin-bottom: $spacer;
    color: $text-muted;
  }
}
